<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletConfigAndServletContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>admin</param-name>
  	<param-value>Kishor</param-value>
  </context-param>
  
  <servlet>
    <description></description>
    <display-name>Demo1</display-name>
    <servlet-name>Demo1</servlet-name>
    <servlet-class>com.Demo1</servlet-class>
    
    <init-param>
    	<param-name>user</param-name>
    	<param-value>Raj</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1</servlet-name>
    <url-pattern>/Demo1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Demo2</display-name>
    <servlet-name>Demo2</servlet-name>
    <servlet-class>com.Demo2</servlet-class>
    
    <init-param>
    	<param-name>user</param-name>
    	<param-value>Seeta</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo2</servlet-name>
    <url-pattern>/Demo2</url-pattern>
  </servlet-mapping>
  
</web-app>